<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My APP Home</title>
    <style>
    nav a{
        margin-left:10px;
        text-decoration:none;
        font-size:20px;
        color:white;
        padding:10px;
        background-color:rgb(22, 27, 34);
        border-left:4px solid black;
    }
    </style>
</head>
<body>
    <header>
        <nav>
            <a href="{RUTA}/profile/yolfry/38228795_678904195797669_1185383163782758400_o">Perfil de yolfry</a>
            <a href="{RUTA}/profile/Juan/6565kj_">Perfil de Juan</a>
            <a href="{RUTA}/profile/Pedro">Perfil de Pedro</a>
            <a href="{RUTA}/profile/Jenifer/screen-shot-2017-03-12-at-10-19-20-am">Perfil de Jenifer</a>
            <a href="{RUTA}/profile/Jesus">Perfil de Jesus</a>
            <a href="{RUTA}/home">Salir</a>
        </nav>
    </header>
</body>
</html>